@font-face {
  font-family: 'specialelite';
  src: url('../Fonts/Changa-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html, body {
  font-family: 'specialelite', monospace;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
body {
  line-height: 1.4em;
  font-weight: normal;
  box-sizing: border-box;
  word-break: break-word;
}
main {
  font-size: 0.9em;
}
h2 {
  margin-bottom: 0.7em;
  margin-top: 1.5em;
  
}
h2 span {
  background: #fcff4a99;
    text-align: center;
    padding: 0 0.5em;
}
.modal h2 {
  text-align: center;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0;
}

ul {
  margin-top: 0em;
}
button {
  border: 2px dashed;
    padding: 1em;
    text-transform: uppercase;
    border-color: #1c6a62;
    background-color: #eafffd;
    font-weight: bold;
    margin: auto auto;
    text-align: center;
    display: flex;
    cursor: pointer;
}
button:focus, button:hover {
  color: #fff;
  background-color: #1c6a62;
}
.gap {
  padding: 2em;
  width: 80vw;
  margin: 0 auto;
}

#buttonController {
  display: flex;
  justify-content: space-around;
}
#buttonController button {
  width: 10em;
  text-align: center;
  display: inline;
}

#levelTransitiondynamicModalContent {
  background: #ffffd1;
  margin: 1em;
  padding: 0.3em;
  border: 5px dotted;
}