@font-face {
  font-family: 'specialelite';
  src: url('../Fonts/Changa-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html, body {
  font-family: 'specialelite', monospace;
}
body {
  line-height: 1.6em;
  font-weight: normal;
  box-sizing: border-box;
  font-size: 100%;
  word-break: break-word;
}
p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

ul {
  margin-top: 0em;
}